@forward "variables";  // Globale Variablen (Farben, Fonts etc.)
@forward "reset";      // CSS-Reset (z. B. Normalize.css)
@forward "typography"; // Schriftarten & Text-Styling

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --text-color-dark: #ffffff;
}

body.dark-mode {
  --background-color: #000000 !important;
  --text-color: #ffffff !important;
  --text-color-dark: #ffffff !important;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


.cart-button, .menu-button {
  color: var(--text-color) !important;
}

body.dark-mode .cart-button, 
body.dark-mode .menu-button {
  color: var(--text-color-dark) !important;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 50px auto;
}

