.blog-container {
  font: 400 1.5em/1.5 "Neuton"; /* Erhöhte Schriftgröße */
  background: #090d00;
  text-align: center;
  margin: 0;

  p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, 0.25);
    border-width: 4px 0;
    padding: 2em 0em; /* Erhöhte Polsterung */
    position: absolute;
    top: 18%;
    left: 50%;
    width: 50em; /* Erhöhte Breite */
    margin: 400px 0 0 -25em; /* Anpassung des linken Randes */

    .animated-text {
      font: 700 3em/1 "Oswald", sans-serif; /* Erhöhte Schriftgröße */
      letter-spacing: 0;
      padding: 0.25em 0 0.325em;
      display: block;
      margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);

      /* Clip Background Image */
      background: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png)
        repeat-y;
      -webkit-background-clip: text;
      background-clip: text;

      /* Animate Background Image */
      -webkit-text-fill-color: transparent;
      -webkit-animation: Move 20s linear infinite;

      /* Activate hardware acceleration for smoother animations */
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
  }

  /* Animate Background Image */
  @-webkit-keyframes Move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}
.Grid-Container-Blog img {
  width: 100%;
  height: 100%;
}

.Grid-Container-Blog {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 420px;
  padding: 200px 0px 200px 0px;
}

.Grid-Oben,
.Grid-Unten {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 35px;
  margin-bottom: 20px; /* Abstand zwischen den Grids */

  .Grid1,
  .Grid-2 {
    min-width: 100px;
    min-height: 100px;
    border: 2px solid #fff;

    &.aktuell:nth-child(1),
    &.alt:nth-child(1) {
      grid-area: 1 / 1 / 4 / 4;
    }
    &.aktuell:nth-child(2),
    &.alt:nth-child(2) {
      grid-area: 4 / 3 / 7 / 5;
    }
    &.aktuell:nth-child(3),
    &.alt:nth-child(3) {
      grid-area: 5 / 5 / 9 / 8;
    }
    &.aktuell:nth-child(4),
    &.alt:nth-child(4) {
      grid-area: 4 / 8 / 7 / 11;
    }
    &.aktuell:nth-child(5),
    &.alt:nth-child(5) {
      grid-area: 2 / 5 / 5 / 8;
    }
    &.aktuell:nth-child(6),
    &.alt:nth-child(6) {
      grid-area: 7 / 1 / 10 / 5;
    }
    &.aktuell:nth-child(7),
    &.alt:nth-child(7) {
      grid-area: 7 / 8 / 10 / 12;
    }
    &.aktuell:nth-child(8),
    &.alt:nth-child(8) {
      grid-area: 10 / 2 / 13 / 5;
    }
    &.aktuell:nth-child(9),
    &.alt:nth-child(9) {
      grid-area: 10 / 6 / 13 / 10;
    }
    &.aktuell:nth-child(10),
    &.alt:nth-child(10) {
      grid-area: 1 / 8 / 4 / 13;
    }
    &.aktuell:nth-child(11),
    &.alt:nth-child(11) {
      grid-area: 11 / 11 / 13 / 13;
    }
  }
}
