@use "../../styles/base/index.scss" as *;

.Home{
  background: linear-gradient(135deg, #775f3a 0%, #fad0c4 100%);
  width: 100vw;
}

.Carousel-Container {
  padding: 1rem 2rem 3rem 2rem;
  width: 90%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  perspective: 1000px;
  margin: 0 auto;
  animation: OpacityHero 1.2s ease;
  background-color: #00000000;
  margin-top: 3rem;

  
  .description {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  .images-carousel {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    transform-style: preserve-3d;

    img {
      cursor: pointer;
      max-width: 900px;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateZ(20px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .state {
    display: flex;
    gap: 8px;

    li {
      list-style: none;
      width: 30px;
      height: 15px;
      border-radius: 0;
      border: 2px solid #ffffff;
      background-color: #bbb;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      transform: skewX(-20deg);

      &.active {
        background-color: linear-gradient(90deg, #0000FF, #00FF00);
        border: 1px solid #ffffff;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 15px;

    .description {
      h2 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
      }
    }

    .images-carousel {
      gap: 10px;

      img {
        max-width: 100%;
        height: auto;
      }

      .nav-button {
        font-size: 24px;
      }
    }

    .state {
      gap: 5px;

      li {
        width: 10px;
        height: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    .description {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;

      }
    }

    .images-carousel {
      gap: 5px;

      img {
        max-width: 100%;
        height: auto;
      }

      .nav-button {
        font-size: 20px;
      }
    }

    .state {
      gap: 3px;

      li {
        width: 8px;
        height: 8px;
      }
    }
  }
}

.Text-Container {
  max-width: 2000px;
  margin: auto;
  padding: 2rem;

  .text1, .text2, .text3, .text4 {
    background-color: #0000008a;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    position: relative;

    &:nth-child(1)::before,
    &:nth-child(3)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &:nth-child(2)::before,
    &:nth-child(4)::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid rgb(0, 0, 0);
      outline: 1ßx solid gold;
      border-radius: 50%;
      transform: translate(50%, 50%);
    }
  }
}