.not-found {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.478);
  body.dark-mode & {
    color: #fff;
  }

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    z-index: 10;
  }

  p {
    margin: 1.5rem auto;
    font-size: 1.25rem;
  }
  button {
    cursor: pointer;
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    background: rgb(251, 33, 117);
    background: linear-gradient(
      0deg,
      rgb(22, 255, 243) 0%,
      rgba(49, 45, 47, 0.212) 100%
    );
    color: #fff;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    border-bottom: 1px solid rgb(0, 255, 225);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  button:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transform: scale(1.1);
    transition: all 0.3s;
  }

  button:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
  }

  button:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  @keyframes shiny-btn1 {
    0% {
      transform: scale(0) rotate(45deg);
      opacity: 0;
    }
    80% {
      transform: scale(0) rotate(45deg);
      opacity: 0.5;
    }
    81% {
      transform: scale(4) rotate(45deg);
      opacity: 1;
    }
    100% {
      transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }
  img {
    background-color: black;
    margin: 1rem;
  }
  .Mond {
    width: 200px;
    height: 200px;
    background: url("https://img.freepik.com/vektoren-kostenlos/vollmond-vektor-symbol_24911-115854.jpg?t=st=1739435311~exp=1739438911~hmac=c1218e46832621e4de9fee240bdfd701f2d03ab296fed15be5bfa7103a618a21&w=1380")
      no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset -8px -8px 15px rgba(0, 0, 0, 0.2),
      inset 8px 8px 35px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3),
      10px 10px 40px rgba(255, 255, 255, 0.4),
      10px 10px 30px rgba(255, 255, 255, 0.3),
      10px 10px 40px rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 62.5%;
    left: 59%;
    animation: rotateMoon 60s linear infinite, glowMoon 3s ease-in-out infinite;
  }

  @keyframes rotateMoon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes glowMoon {
    0%,
    100% {
      box-shadow: inset -8px -8px 15px rgba(0, 0, 0, 0.2),
        inset 8px 8px 35px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3),
        10px 10px 40px rgba(255, 255, 255, 0.4),
        10px 10px 30px rgba(255, 255, 255, 0.3),
        10px 10px 40px rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: inset -8px -8px 15px rgba(0, 0, 0, 0.2),
        inset 8px 8px 35px rgba(255, 255, 255, 1),
        0 0 50px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5),
        10px 10px 50px rgba(255, 255, 255, 0.6),
        10px 10px 40px rgba(255, 255, 255, 0.5),
        10px 10px 50px rgba(255, 255, 255, 0.4);
    }
  }

  @keyframes rotateMoon {
    0% {
      transform: rotate(0deg) translateZ(0);
    }
    50% {
      transform: rotate(180deg) translateZ(50px);
    }
    100% {
      transform: rotate(360deg) translateZ(0);
    }
  }
}
