@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 1;
    border: 1px solid gold;
    box-shadow: 0px 0px 10px gold;
  }
  50% {
    transform: translateY(-100px);
    opacity: 0.5;
  }
}

.product-list {
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  min-height: 500px;
  max-height: 1000px;
  cursor: pointer;
  background: linear-gradient(to bottom, #6185a0, #f5f3f6);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.747) 0 0 20px !important;
  animation: moveUpDown 1.5s ease-in-out infinite;
  p {
    margin-top: 2rem;
  }
  z-index: 100;

  button {
    border-top: 1px solid rgba(255, 255, 255, 0.747) !important;
    cursor: pointer;
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    background: rgb(251, 33, 117);
    background: linear-gradient(
      0deg,
      rgb(22, 255, 243) 0%,
      rgba(49, 45, 47, 0.212) 100%
    );
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    border-bottom: 1px solid rgb(0, 255, 225);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  body.dark-mode & {
    background: linear-gradient(to bottom, #000000, #111827);
    color: var(--text-color-dark);
    border: 1px solid wheat;
    &:hover {
      transform: translateY(-5px);
      border: 1px solid gold !important;
      box-shadow: gold 0 0 10px;
      transition: all 0.3s;
    }
  }
  &:hover {
    transform: translateY(-5px);
    border: 1px solid rgb(0, 0, 0) !important;
    box-shadow: black 0 0 20px 2px !important;
    transition: all 0.3s;
  }
}

.product-item:nth-child(8n + 1) {
  animation-timing-function: ease-in-out;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 2) {
  animation-duration: 0.85s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 3) {
  animation-duration: 0.95s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 4) {
  animation-duration: 1.05s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 5) {
  animation-duration: 1.15s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 6) {
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 7) {
  animation-duration: 1.35s;
  animation-iteration-count: 1;
}

.product-item:nth-child(8n + 8) {
  animation-duration: 1.45s;
  animation-iteration-count: 1;
}

.product-name {
  height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  background: linear-gradient(90deg, #e0e0e0, #ffffff, #e0e0e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: goldenrod;
  font-size: 1.2rem;
  background: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid goldenrod;
  margin-top: 10px;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    top: 50%;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #000000 transparent transparent;
    transform: translateY(-50%);
  }
  &:after {
    top: 50%;
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000000;
    transform: translateY(-50%);
  }
}

@media (max-width: 1250px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-item {
    max-width: 300px; // Beibehaltung der ursprünglichen Größe
    width: auto;
  }
}
.message{
  color: red;
  text-align: center;
}